BANK_PORT=27462
BANK_DATABASE_URL=postgres://user:password@host.docker.internal:5432/bank?sslmode=disable
BANK_JWT_SECRET=change_me_to_a_long_random_secret
BANK_ACCESS_JWT_TTL_SECONDS=3600
BANK_REFRESH_JWT_TTL_SECONDS=604800
#BANK_PUBLIC_URLS=https://bank.beshence.com/api,https://bank.example.com/api