services:
  beshence_bank:
    image: ghcr.io/vyacheslavbytsko/beshence_bank:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      BANK_ID: ${BANK_ID}
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      REFRESH_JWT_TTL_SECONDS: ${REFRESH_JWT_TTL_SECONDS}
      ACCESS_JWT_TTL_SECONDS: ${ACCESS_JWT_TTL_SECONDS}
    ports:
      - "${HOST_PORT:-27462}:27462"
    # or use network_mode: "host"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:27462/.well-known/beshence/bank || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
