services:
  beshence_bank:
    image: ghcr.io/beshence/bank:latest
    environment:
      BANK_PORT: ${BANK_PORT}
      BANK_DATABASE_URL: ${BANK_DATABASE_URL}
      BANK_JWT_SECRET: ${BANK_JWT_SECRET}
      BANK_REFRESH_JWT_TTL_SECONDS: ${BANK_REFRESH_JWT_TTL_SECONDS}
      BANK_ACCESS_JWT_TTL_SECONDS: ${BANK_ACCESS_JWT_TTL_SECONDS}
      BANK_PUBLIC_URLS: ${BANK_PUBLIC_URLS}
      BANK_PUBLISH_LOCAL_IPS: ${BANK_PUBLISH_LOCAL_IPS}
    network_mode: "host"
    restart: unless-stopped
